include /atoms/link/link.pug
include /atoms/picture/picture.pug
include /molecules/list/service/list-service.pug
include /molecules/list/digits/list-digits.pug

mixin section-service(props={info: false, className: ''})
  .section-service(class=props.className)
    .section-service__contant
      .section-service__text
        if props.info.title
          p.section-service__title.text-heading-2.topline(data-anim='fadeUp', data-delay='0.2')!= props.info.title
        if props.info.discription
          p.text.section-service__description(data-anim='fadeUp', data-delay='0.4')= props.info.discription
        if props.info.link
          +link({info: props.info.link,
            className: 'link--line text-link section-service__link section-service__link--desc',
            attrs: {'data-anim': 'fadeUp', 'data-delay': '0.6'}
            })
      if props.info.cards
        +list-service({info: props.info.cards,
          className: 'section-service__cards',
          attrs: {'data-anim': 'fadeUp', 'data-delay': '0.6'}
          })
      if props.info.link
        +link({info: props.info.link,
          className: 'link--line text-link section-service__link section-service__link--mobile',
          attrs: {'data-anim': 'fadeUp', 'data-delay': '0.6'}
          })
      if props.info.digits
        if props.info.digits.length <= 2
        +list-digits({info: props.info.digits,
          className: 'section-service__list',
          attrs: {'data-anim': 'fadeUp', 'data-delay': '0.6'}
          })
        if props.info.digits.length > 2
          +list-digits({info: props.info.digits,
            className: 'section-service__list list-digits--small',
            attrs: {'data-anim': 'fadeUp', 'data-delay': '0.6'}
            })
    if props.info.image
      .section-service__map
        if props.info.pins
          each pin in props.info.pins
            .section-service__pin(style=`left: ${pin.left}; top: ${pin.top}`)
              .section-service__pin-icon
                +picture({info: pin.icon})
        +picture({info: props.info.image, className: 'section-service__image'})
