include /atoms/link/link.pug

mixin footer(props= {info: false, className: ''})
  if props.info
    .footer
      .container.footer__wrapper
        if props.info.contacts
          .footer__contacts
            if props.info.contacts.mail
              a.footer__mail.text-heading-6(href= props.info.contacts.mail.href)= props.info.contacts.mail.text
            if props.info.contacts.phone
              a.footer__phone.text-heading-2-1(href= props.info.contacts.phone.url)= props.info.contacts.phone.number
        if props.info.nav
          .footer__nav
            ul.footer__menu
              each item in props.info.nav
                li.footer__menu-item
                  a.footer__nav-link(href= item.href)= item.text
        if props.info.feedback
          - var attrs= props.info.feedback.popup ? {'data-popup': true} : {}
          +link({info: props.info.feedback, className: 'footer__feedback', attrs: attrs})
        if props.info.copyright
          .footer__copyright
            .footer__developer.text-heading-6= props.info.copyright.subtitle
            .footer__rights.text-heading-6= props.info.copyright.text
