mixin picture(props= {info: false, className: '', attrs: {}})
  picture.picture(class= props.className)&attributes(props.attrs)
    if props.info.sources.lg
      each image in props.info.sources.lg
        source(data-srcset=image, media='(min-width: 1600px)') 
    if props.info.sources.desktop
      each image in props.info.sources.desktop
        source(data-srcset=image, media='(min-width: 1024px)')
    if props.info.sources.tablet
      each image in props.info.sources.tablet
        source(data-srcset=image, media='(min-width: 768px)')
    if props.info.sources.mobile
      each image in props.info.sources.mobile
        source(data-srcset=image, media='(min-width: 320px)')
    img.lazyload.optimize(data-src=props.info.sources.mobile[0], alt=props.info.alt, title=props.info.title)
