include /atoms/field/select/field-select
include /atoms/map/map
include /atoms/picture/picture
include /atoms/contacts-info/contacts-info

mixin section-contacts(props= {info: false, className: '', attrs: {}})
  if (props.info)
    .section-contacts(class= props.className || '')&attributes(props.attrs)
      if props.info.info
        .container.section-contacts__info
          each item in props.info.info
            - var tag = item.link ? 'a' : 'div'
            - var attrs = item.link ? { 'href': item.link.url } : {}
            - var text = item.link ? item.link.text : item.text
            .section-contacts__info-item
              p.text.section-contacts__info-title= item.title
              #{tag}.text-heading-2-1.section-contacts__info-text&attributes(attrs)= text
        .section-contacts__map
          .container.section-contacts__container
            .section-contacts__map-description
              if props.info.description
                .section-contacts__description
                  .text-heading-3.section-contacts__description-title!= props.info.description.title
                  .section-contacts__description-select
                    .text.section-contacts__description-place!= props.info.description.selectDesc
                    +field-select({info: props.info.description.select})
                  .section-contacts__description-info
                    +contacts-info({info: props.info.description})
                    //- - var mailtag = props.info.description.mail.url ? 'a' : 'div'
                    //- - var mailattrs = props.info.description.mail.url ? { 'href': props.info.description.mail.url } : {}
                    //- #{mailtag}.text.section-contacts__description-mail&attributes(mailattrs)!= props.info.description.mail.text
                    //- - var phonetag = props.info.description.phone.url ? 'a' : 'div'
                    //- - var phoneattrs = props.info.description.phone.url ? { 'href': props.info.description.phone.url } : {}
                    //- #{phonetag}.text-big.section-contacts__description-phone&attributes(phoneattrs)!= props.info.description.phone.text
          +map({info: props.info.map})
